:root {
  --darkgreen: #4caf50;
  --lightgreen: #edf7ed;
  --darkyellow: #ff9800;
  --lightyellow: #fff4e5;
  --darkred: #f44336;
  --lightred: rgb(253, 236, 234);
  --blue: #2196f3;
  --dark-blue: #226ee8;
  --lightblue: #e8f4fd;
  --orange: #ff905a;
  --gray: #696e79;
  --pink: #ff3f6c;

  --white: #fff;
  --black: #000;

  --dark-gray: #6b7280;


  --primary-color: #3b82f6;
  --secondary-color: #eff6ff;
  --primary-color-hover: #226ee8;
}

/* *********Paddings************** */

.pad-xs {
  padding: 0.5rem;
}

.pad-sm {
  padding: 1rem;
}

.pad-md {
  padding: 1.5rem;
}

.pad-lg {
  padding: 2rem;
}

.pad-xl {
  padding: 2.5rem;
}

.pad-xxl {
  padding: 3rem;
}

/* padding-single-side */
.pad-r-sm {
  padding-right: 1rem;
}
.pad-l-sm {
  padding-left: 1rem;
}
.pad-t-sm {
  padding-top: 1rem;
}
.pad-b-sm {
  padding-bottom: 1rem;
}

/* ********margins*********** */
.mar-xs {
  margin: 0.5rem;
}

.mar-sm {
  margin: 1rem;
}

.mar-md {
  margin: 1.5rem;
}

.mar-lg {
  margin: 2rem;
}

.mar-xl {
  margin: 2.5rem;
}

.mar-xxl {
  margin: 3rem;
}

/* margin-single-side */

/* margin-top */
.mar-t-sm {
  margin-top: 1rem;
}
.mar-t-md {
  margin-top: 1.5rem;
}
.mar-t-lg {
  margin-top: 2rem;
}
.mar-t-xl {
  margin-top: 2.5rem;
}
.mar-t-xxl {
  margin-top: 3rem;
}
/* right margin */
.mar-r-sm {
  margin-right: 1rem;
}

.mar-b-sm {
  margin-bottom: 1rem;
}

.mar-l-sm {
  margin-top: 1rem;
}

/******* font utilities **********/

.bold {
  font-weight: 600;
}

.thin {
  font-weight: 300;
}

.extra-thin {
  font-weight: 100;
}

.gray {
  color: var(--dark-gray);
}

.green {
  color: var(--darkgreen);
}

.orange {
  color: var(--orange);
}

.gray {
  color: var(--gray);
}

.dark-blue {
  color: var(--dark-blue);
}

.strike-through {
  text-decoration: line-through;
}

/******** avatar styles *******/

.avatar-xs {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar-sm {
  border-radius: 70px;
  width: 70px;
  height: 70px;
}

.avatar-md {
  border-radius: 70px;
  width: 100px;
  height: 100px;
}

.avatar-lg {
  border-radius: 70px;
  width: 120px;
  height: 120px;
}

/******** alert styles *********/

.alert {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.alert-icon {
  margin-right: 1.5rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-alert {
  color: var(--darkgreen);
  border-left: 5px solid var(--darkgreen);
  background: var(--lightgreen);
}
.warning-alert {
  color: var(--darkyellow);
  border-left: 5px solid var(--darkyellow);
  background: var(--lightyellow);
}
.danger-alert {
  color: var(--darkred);
  border-left: 5px solid var(--darkred);
  background: var(--lightred);
}

.info-alert {
  color: var(--blue);
  border-left: 5px solid var(--blue);
  background: var(--lightblue);
}

/* ******* Badges ******* */

.badge {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

.bg-danger {
  background-color: var(--darkred);
}

.bg-warning {
  background-color: var(--darkyellow);
}

.bg-info {
  background-color: var(--blue);
}

.bg-dark {
  background-color: var(--black);
}

.bg-light {
  background-color: var(--white);
  color: var(--black);
}

.primary-badge {
  color: var(--white);
  background: var(--dark-blue);
}

.secondary-badge {
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

.pill-badge-primary {
  color: var(--white);
  background: var(--dark-blue);
  border-radius: 14px;
}

.pill-badge-secondary {
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 14px;
}

/* ------------------- */

.avatar-badge-container,
.notification-badge-container {
  position: relative;
}

.avatar-badge,
.notification-badge {
  min-width: 1rem;
  height: 1rem;
  padding: 0.15rem;
  border-radius: 50%;
  background: var(--dark-blue);
  color: var(--white);
  position: absolute;
  bottom: 75%;
  right: -10%;
  font-size: 0.65rem;
  font-weight: bold;
}

.avatar-badge-container .fa,
.notification-badge-container .fa {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);
}

.border {
  border: 1px solid black;
}

/* list styles */
.list-type--none {
  list-style: none;
}

.line-height-130 {
  line-height: 130%;
}

/* flex styles */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* card styles */

/*----------- card styles----------- */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgb(126, 143, 143); */
  max-width: 200px;
  max-height: 400px;
  /* height: 350px; */
  /* border: 1px solid black; */
  font-size: 0.8em;
}

.card > .thumbnail {
  position: relative;
}
.thumbnail img {
  width: 100%;
}
.card .card-content {
  padding: 8px;
}

/* .card-content .card-content-heading{
  font-weight: 600;
} */

.card-content .card-content-subHeading {
  padding: 8px 0px;
}

.card-content .strike-through {
  padding: 0px 3px;
}

.card-badge-text {
  color: rgb(252, 251, 251);
  font-size: 0.8em;
  padding-left: 5px;
  position: absolute;
  top: 16px;
}
.card-badge {
  position: absolute;
  top: 13px;

  /* width: 50px; */
  /* opacity: 50%; */
}
.card-badge .box1 {
  position: absolute;
  border-bottom: 20px solid var(--dark-blue);
  border-right: 15px solid transparent;
  height: 0;
  width: 50px;
  opacity: 80%;
}
.card-badge .box2 {
  position: absolute;
  border-top: 20px solid var(--dark-blue);
  border-right: 15px solid transparent;
  height: 0;
  width: 50px;
  opacity: 80%;
}

.card-action {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.card-button {
  width: 100%;
  background-color: var(--dark-blue);
  color: white;
  border: 1px solid var(--dark-blue);
  padding: 6px;
  font-size: 110%;
  cursor: pointer;
}

.card .thumbnail .cancel-button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.5rem;
  color: var(--dark-blue);
  border: none;
  cursor: pointer;
}

/* Typography styles */

.links {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}


/* button styles */

.primary-button,
.secondary-button {
  padding: 0.6rem 3rem;
  font-size: inherit;
  border-radius: 10px;
  cursor: pointer;
  margin: 2rem 0rem;
}

.primary-button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
}

.secondary-button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: inherit;
  margin-left: 1rem;
}

.primary-button:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid var(--primary-color-hover);
}

.secondary-button:hover {
  background-color: var(--secondary-button-hover);
  border: 1px solid var(--secondary-button-hover);
  /* color: var(--primary-color) */
}


