:root {
  --darkgreen: #4caf50;
  --lightgreen: #edf7ed;
  --darkyellow: #ff9800;
  --lightyellow: #fff4e5;
  --darkred: #f44336;
  --lightred: rgb(253, 236, 234);
  --blue: #2196f3;
  --lightblue: #e8f4fd;

  --white: #fff;
  --black: #000;

  --dark-gray: #6b7280;
}

/* *********Paddings************** */

.pad-xs {
  padding: 0.5rem;
}

.pad-sm {
  padding: 1rem;
}

.pad-md {
  padding: 1.5rem;
}

.pad-lg {
  padding: 2rem;
}

.pad-xl {
  padding: 2.5rem;
}

.pad-xxl {
  padding: 3rem;
}

/* ********margins*********** */
.mar-xs {
  margin: 0.5rem;
}

.mar-sm {
  margin: 1rem;
}

.mar-md {
  margin: 1.5rem;
}

.mar-lg {
  margin: 2rem;
}

.mar-xl {
  margin: 2.5rem;
}

.mar-xxl {
  margin: 3rem;
}

/******* font utilities **********/

.bold {
  font-weight: 600;
}

.thin {
  font-weight: 300;
}

.gray {
  color: var(--dark-gray);
}

/******** avatar styles *******/

.avatar-sm {
  border-radius: 70px;
  width: 70px;
  height: 70px;
}

.avatar-md {
  border-radius: 70px;
  width: 100px;
  height: 100px;
}

.avatar-lg {
  border-radius: 70px;
  width: 120px;
  height: 120px;
}

/******** alert styles *********/

.alert {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.alert-icon {
  margin-right: 1.5rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-alert {
  color: var(--darkgreen);
  border-left: 5px solid var(--darkgreen);
  background: var(--lightgreen);
}
.warning-alert {
  color: var(--darkyellow);
  border-left: 5px solid var(--darkyellow);
  background: var(--lightyellow);
}
.danger-alert {
  color: var(--darkred);
  border-left: 5px solid var(--darkred);
  background: var(--lightred);
}

.info-alert {
  color: var(--blue);
  border-left: 5px solid var(--blue);
  background: var(--lightblue);
}

/* ******* Badges ******* */

.badge {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

.bg-danger {
  background-color: var(--darkred);
}

.bg-warning {
  background-color: var(--darkyellow);
}

.bg-info {
  background-color: var(--blue);
}

.bg-dark {
  background-color: var(--black);
}

.bg-light {
  background-color: var(--white);
  color: var(--black);
}
