@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");

:root {
  --primary-color: #3b82f6;
  --secondary-color: #eff6ff;
  --dark-purple: #6366f1;
  --light-gray: #bfdbfe;
  --dark-gray: #6b7280;
  --primary-color-hover: #226ee8;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  /* text-align: center; */
  /* width: 90%; */
  padding: 0rem 5rem;
  position: relative;
}

 /* ****************NAVBAR SECTION****************** */
.navbar-brand {
  position: relative;
}
.navbar-brand-text {
  font-weight: 500;
  padding-left: 3rem;
}

.navbar-brand-logo {
  height: 2rem;
  position: absolute;
  top: -2px;
}
.navbar {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.navbar-links-list button {
  background-color: white;
  border: none;
}

.navbar-links {
  width: 30%;
}
.navbar-links-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

/* *******************HEADER SECTION****************** */
header {
  display: flex;
  padding: 5rem 1rem;
  align-items: center;
}

.header-content {
  width: 50%;
  padding-left: 1rem;
}
.header-image {
  width: 50%;
}
.header-hero-image {
  width: 96%;
}
.header-content-heading {
  font-size: 2.5rem;
  font-weight: 600;
}
.header-content-subheading {
  font-weight: 100;
}
.header-content-description {
  font-weight: 300;
  padding-top: 2rem;
}
.header-content-description .list-icon {
  padding-right: 1rem;
}

.header-content-description ul li {
  list-style: none;
  padding-bottom: 1rem;
}
.header-content-action {
  padding-top: 2rem;
}

.primary-button,
.secondary-button {
  padding: 0.6rem 3rem;
  font-size: inherit;
  border-radius: 10px;
  cursor: pointer;
}

.primary-button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
}

.secondary-button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
  margin-left: 1rem;
}

.primary-button:hover {
  background-color: var(--primary-color-hover);
  border: 1px solid var(--primary-color-hover);
}

.secondary-button:hover {
  border: 1px solid black;
  color: black;
}
footer {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}

footer .author-info {
  font-weight: 300;
  font-size: 1rem;
  padding-top: 1rem;
}

.author-info a {
  text-decoration: none;
  color: inherit;
}

.author-links-section {
  text-align: center;
}
.author-links-section .social-icons {
  padding: 0rem 0.5rem;
}
.social-icons {
  height: 1.5rem;
  cursor: pointer;
}
.list-icon {
  height: 1rem;
}

