@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #3b82f6;
  --secondary-color: #eff6ff;
  --dark-purple: #6366f1;
  --light-gray: #bfdbfe;
  --dark-gray: #6b7280;
  --primary-color-hover: #226ee8;

  --aside-width: 20rem;
  --font-size: 1.5rem;
  --aside-font-size: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* padding to block as 1rem */
.pad-1 {
  padding: 1rem;
}

.bold {
  font-weight: 600;
}

.links {
  text-decoration: none;
  color: inherit;
}

.theme-text{
  color: var(--primary-color-hover);
}

.font-size-130 {
  font-size: 130%;
}

.darkMode {
  background-color: #444444;
  color: white;
}

/* for wraping the overflow content */
.content-wrap {
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.content-heading {
}
body {
  height: 100vh;
  font-size: var(--font-size);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: var(--aside-width) auto;
  grid-template-areas:
    'navbar navbar'
    'aside main';
  /* overflow-y: */
  overflow: hidden;
}

header {
  /* background-color: lawngreen; */
  grid-area: navbar;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--dark-gray);
}

.main-content {
  grid-area: main;
  background-color: inherit;
  padding: 2rem 3rem;

  /* width: 60rem; */
}

/*********** NAVBAR STYLES *************/

.navbar {
  /* border-bottom: 1px solid gray; */
  background-color: inherit;
  flex-basis: 100%;
  align-self: center;
  position: sticky;
  top: 0rem;
  z-index: 1;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  position: relative;
}
.navbar-brand-text {
  font-weight: 500;
  padding-left: 3rem;
}

.navbar-brand-logo {
  height: 2rem;
  position: absolute;
  top: -2px;
}

.social-icons {
  height: 1.5rem;
  cursor: pointer;
}

.navbar-links-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.navbar-links-list li {
  /* font-weight: 300; */
  padding-left: 2rem;
}

/* ************ASIDE STYLES **************/

aside {
  grid-area: aside;
  background-color: inherit;
  padding: 1rem 2rem;
  border-right: 2px solid var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  /* position: fixed;
    top: 10%;
    width: 20rem; */
}

aside ul {
  padding-top: 1rem;
  list-style: none;
  line-height: 1.6;
}

aside ul li {
  font-size: var(--aside-font-size);
}

.aside-menu li {
  /* border: 1px solid black; */
  padding-left: 1rem;
  width: 12rem;
  margin-bottom: 3px;
  /* border-radius: 1rem;
  background-color: var(--primary-color-hover);
  color: white; */
}

.aside-menu li:hover {
  border: 1px solid gray;
  padding-left: 1rem;
  width: 12rem;
  margin-bottom: 3px;
  border-radius: 10px;
  background-color: gray;
  color: white;
}

.aside-footer {
  /* position: fixed; */
  /* bottom: 1rem; */
  font-size: 0.8rem;
}

.main-content-description {
  font-size: 1rem;
}

#hamburger-icon,
#cancel-icon {
  display: none;
}
.main-content-subheading {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem 0rem;
}
.main-content-heading {
  padding-bottom: 1rem;
}

p{
padding: 1rem 0rem;
}

iframe {
  padding: 1rem 0rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  body {
    height: 100vh;
    font-size: var(--font-size);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
    grid-template-areas:
      'navbar'
      'main';
  }
  aside {
    display: none;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }

  .aside-show {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 100%;
    height: 90%;
    margin-top: 10vh;
  }
  .navbar-brand-text {
    display: none;
  }
  .navbar-links-list {
    padding-left: 0.5rem;
    font-size: 1rem;
  }
  .social-icons {
    height: 1rem;
  }
  .navbar-brand-logo {
    top: -10px;
  }
  #hamburger-icon {
    display: block;
  }
  #cancel-icon {
    z-index: 3;
  }
  .aside-footer {
    padding-top: 2rem;
  }
}
@media screen and (min-width: 600px) {
  #hamburger-icon,
  #cancel-icon {
    display: none;
  }
}

/* ------------------------ */
.image-container {
  border: 1px solid var(--dark-gray);
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-content-description--list {
  padding-left: 4rem;
  line-height: 1.6;
}
